{% extends 'bootstrap/base.html' %}
{% block title %}Quiz Application{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css')}}">
{% endblock %}
{% block content %}
<div class="main-container">
    <div class="main-content-box">
        <h1 class="quote">Welcome</h1>
        <p class="slogan">Test your knowledge <br>at anytime and anywhere.</p>
        <a href="/login" class="btn btn-primary btn-lg">Login</a>
        <p style="margin-top: 12px;">Doesn't have an account? <a href="/signup" class="register-btn">Register Here</a></p>
    </div>
    <div class="img-box">
        <img src="static/images/main_img.png" class="main-img">
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/anime.min.js')}}"></script>
<script src="{{url_for('static', filename='js/custom.js')}}"></script>
{{super()}}
{% endblock %}