{% extends 'base.html' %}
{% block title %}
Math
{% endblock %}
{% block content %}
<a href="/quiz">Back</a><h1>This is {{ module.capitalize() }} Module</h1>
<form method="post" action="{{ url_for('module.get_module', module=module) }}">
    {%for i in range(0, len)%}
    <h3>{{i+1}} - {{Questions[i].question}}</h3>
    {%for choice in Questions[i].choices%}
    {%for key, value in choice.items()%}
    <input type="radio" id="{{value}}" name="{{i+1}}" value="{{value}}">
    <label for="{{value}}">{{value}}</label><br>
    {%endfor%}
    {%endfor%}
    {%endfor%}
<br>
<button type="submit" value="Submit">Submit</button>
</form>
{%endblock%}